<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499529292288-hplkb1hnqe88v5jr3h2krdoan7rbhsq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499529292288-hplkb1hnqe88v5jr3h2krdoan7rbhsq8</string>
	<key>API_KEY</key>
	<string>AIzaSyA-iXk5ZMWuM4-dsTjM3ouB9yfqL99R_3g</string>
	<key>GCM_SENDER_ID</key>
	<string>499529292288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nutrijourney.nutrijourney</string>
	<key>PROJECT_ID</key>
	<string>nutrijourney-42fdc</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrijourney-42fdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499529292288:ios:8df8992d3e4f180ac816e5</string>
</dict>
</plist>